.productDescriptionContainer {
    padding-top: 2.6rem;
    padding-bottom: 5rem;
    background-color: black;
    .productImage {
        max-width: 100%;
    }
    section {
        padding-left: 1rem;
    }
    .buttonContainer {
        display: flex;
        justify-content: center;
    }
    .backBtn {
        position: absolute;
        background: black;
        margin-top: 10px;
        margin-left: 10px;
    }
}