.headerTabsContainer {
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 80;
  height: 2.6rem;
  border-bottom: 2px solid lightgrey;
  ul {
    padding: 0.5rem;
    margin: 0px;
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    button {
      color: lightgrey;
    }
  }
}