.active {
  background-color: lightgray;
  opacity: 0.5;
}
.customSelector button {
  width: 4rem;
  height: 2.5rem;
  border: 0.5px solid white;
  &.size{
    background-color: transparent;
    color: white;
  }
}