.modalMultiOptionContainer {
  height: 100%;
  padding: 1rem;
  .modalMultiOptionTitle {
    text-align: end;
    > button {
      width: 1.5rem;
      height: 1.5rem;
    }
  }
  .modalMultiOptionBody {
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .actionButtons {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    gap: 1rem;
  }
}