.colorSelectorContainer {
  padding: 1rem 0rem;
  .colorSelectors {
    padding: 1rem 0rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 1rem;
  }

  p {
    margin: 0px;
    font-size: large;
    font-weight: 300;
  }

  ul {
    list-style-type: none;
  }
}