.footerTabsContainer {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 1rem;
  z-index: 80;
  height: 4rem;
  border-top: 2px solid white;
  ul {
    padding: 0px;
    margin: 0px;
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    button {
      color: white;
      &.selected {
        border-bottom: 1px solid white;
      }
    }
  }
}