* {
  box-sizing: border-box;
}

.App {
  height: 100%;
}

h1 {
  margin: 0px;
  font-size: large;
  font-weight: 300;
}

button {
  background-color: transparent;
  &.dark {
    border: 0.5px solid white;
    color: white;
  }
  &.light {
    border: 0.5px solid black;
    color: black;
  }
}

ul button {
  border: 0px;
}